@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Khand:wght@300&family=Merienda+One&family=Yeseva+One&display=swap');

html, body, .container-fluid {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Merienda One', cursive;
}

.bgr-dark {
    background: linear-gradient(to top, #131000, #100e00);
    color: #f3f1fa;
}

.bgr-dark .fa-ico {
    color: #d4b274;
}

.btn-round {

}

.row {
    margin: auto;
}

.circle {
    border-radius: 50%;
}